#ponchz changes
.gitignore
# custom files
custom/
!custom/plugins/example
!custom/example.zsh

# temp files directories
cache/
log/

## Taken from http://sourabhbajaj.com/mac-setup/Git/gitignore.html
# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
